body {
	background:#000000 url(../images/background_blur.jpg) 0 0 no-repeat;
	background-size: cover;
	background-attachment: fixed;
 }
 
 .semitransparent {
    background: rgba(0, 0, 0, 0.6) !important;
}
 .semitransparent0_1 {
    background: rgba(0, 0, 0, 0.6) !important;
}

.giganticBold {
    font-size: 170px !important;
    font-family: robotothin,sans-serif;
    line-height: 180px;
	font-weight: bold;
 }
 
